.main {
  background-color: white;

}

.nav_container {
  background-color: white;
  box-shadow: 0px 5px 10px rgb(235, 235, 235);
  padding: 1em;

}

.logo {
  width: 200px;
}

.cards {
  display: flex;
  overflow: scroll;
  position: relative;
}

.card {
  width: 15%;
  display: block;
  margin: 1em;
  align-items: center;

}

.img_card {
  width: 180px;
  border-radius: 5px;
}

.badge{
  position: absolute;
  width:max-content;
  margin: 0.5em;
  background-color: white;
  padding: 2px 5px;
  border-radius: 2px;
}